{% extends 'layout.twig' %}

{% block view %}
<h1>Перемещение в цех</h1>
<br>
<form action="#" method="post">
    <div class="form-group">
        <label for="id-id_consignment">Партия</label>
        <select name="id_consignment" id="id-id_consignment">
            <option></option>
            {% for c in consignments %}
                <option value={{ c.id }}>{{ c.name }} [{{ c.paint_name }}]</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="id-id_from">Место на складе</label>
        <select name="id_from" id="id-id_from">
            <option></option>
            {% for ps in places_stock %}
                <option value={{ ps.id }}>{{ ps.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="id-id_to">Место в цеху</label>
        <select name="id_to" id="id-id_to">
            <option></option>
            {% for pw in places_workshop %}
                <option value={{ pw.id }}>{{ pw.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="id-qty">Количество</label>
        <input type="number" name="qty" id="id-qty">
    </div>
    <div class="form-group">
        <label for="id-kr">КР</label>
        <input type="text" name="kr" id="id-kr">
    </div>
    <button type="submit" class="btn btn-primary">Добавить</button>
</form>
{% endblock %}
